<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.crawler.review.mapper.crawler.AmazonReviewMapper" >
  <resultMap id="BaseResultMap" type="com.crawler.review.entity.crawler.review.AmazonReview" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="listing_id" property="listingId" jdbcType="INTEGER" />
    <result column="asin" property="asin" jdbcType="VARCHAR" />
    <result column="amazon_id" property="amazonId" jdbcType="INTEGER" />
    <result column="amazon_name" property="amazonName" jdbcType="VARCHAR" />
    <result column="amazon_site_id" property="amazonSiteId" jdbcType="INTEGER" />
    <result column="amazon_site" property="amazonSite" jdbcType="VARCHAR" />
    <result column="rating_star" property="ratingStar" jdbcType="DOUBLE" />
    <result column="all_total" property="allTotal" jdbcType="INTEGER" />
    <result column="review_status" property="reviewStatus" jdbcType="VARCHAR" />
    <result column="crawl_status" property="crawlStatus" jdbcType="VARCHAR" />
    <result column="rating_good" property="ratingGood" jdbcType="VARCHAR" />
    <result column="created_date" property="createdDate" jdbcType="TIMESTAMP" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="image_url" property="imageUrl" jdbcType="VARCHAR" />
    <result column="total_5star" property="total5star" jdbcType="DOUBLE" />
    <result column="total_4star" property="total4star" jdbcType="DOUBLE" />
    <result column="total_3star" property="total3star" jdbcType="DOUBLE" />
    <result column="total_2star" property="total2star" jdbcType="DOUBLE" />
    <result column="total_1star" property="total1star" jdbcType="DOUBLE" />
    <result column="product_name" property="productName" jdbcType="LONGVARCHAR" />
    <result column="interrupt_page" property="interruptPage" jdbcType="INTEGER" />
  </resultMap>
</mapper>