<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.crawler.review.mapper.crawler.FeedBackDetailMapper" >
  <resultMap id="BaseResultMap" type="com.crawler.review.entity.crawler.feedback.FeedBackDetail" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="account_id" property="accountId" jdbcType="INTEGER" />
    <result column="account_name" property="accountName" jdbcType="VARCHAR" />
    <result column="site_id" property="siteId" jdbcType="INTEGER" />
    <result column="site" property="site" jdbcType="VARCHAR" />
    <result column="rating" property="rating" jdbcType="TINYINT" />
    <result column="date" property="date" jdbcType="VARCHAR" />
    <result column="rating_date" property="ratingDate" jdbcType="TIMESTAMP" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="was_suppressed" property="wasSuppressed" jdbcType="BIT" />
    <result column="has_response" property="hasResponse" jdbcType="BIT" />
    <result column="content" property="content" jdbcType="CHAR" />
    <result column="seller" property="seller" jdbcType="VARCHAR" />
    <result column="marketplace_id" property="marketplaceId" jdbcType="VARCHAR" />
    <result column="rater" property="rater" jdbcType="LONGVARCHAR" />
    <result column="expanded_text" property="expandedText" jdbcType="LONGVARCHAR" />
    <result column="suppress_reason_text" property="suppressReasonText" jdbcType="LONGVARCHAR" />
    <result column="response_rating_data" property="responseRatingData" jdbcType="LONGVARCHAR" />
  </resultMap>
</mapper>